<header class="py-4 pt-xs-1 pb-xs-1">
    <div class="container dp-flex align-items-center pr-xs-0">
        <div class="logo mr-5"><a href="#"><img src="../../../assets/images/logo.png" alt="Trafico"></a></div>
        <nav id="nav-menu" class="ml-5" #appNav>
            <ul class="menu">
                <li class="menu__item"> 
                    <a href="#" class="menu__item__link">Breakfast</a> 
                 </li>
                <li class="menu__item"> <a href="#" class="menu__item__link">lunch</a> </li>
                <li class="menu__item"> <a href="#" class="menu__item__link">Dinner</a> </li>
            </ul>
            <div class="menu-icon">
                <span class="flaticon-menu open" (click)='toggleMenu()'></span>
                <span class="flaticon-close close"  (click)='toggleMenu()'></span>
            </div>
        </nav>
        <div class="cart ml-auto"></div>
        
    </div>
</header>